<?xml version="1.0" encoding="UTF-8"?>
<module name="Checker">
    <property name="severity" value="error"/>
    <module name="TreeWalker">
        <module name="ConstantName">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="LocalFinalVariableName">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="LocalVariableName">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="MemberName">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="MethodName">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="PackageName">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="ParameterName">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="StaticVariableName">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="TypeName">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="IllegalImport"/>
        <module name="MethodLength">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="ParameterNumber">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="EmptyStatement">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="EqualsHashCode">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="IllegalInstantiation">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="InnerAssignment">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="SimplifyBooleanExpression">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="SimplifyBooleanReturn">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="FinalClass">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="HideUtilityClassConstructor">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="InterfaceIsType">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="VisibilityModifier">
            <property name="severity" value="ignore"/>
            <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
        </module>
        <module name="RegexpSinglelineJava">
            <metadata name="net.sf.eclipsecs.core.comment" value="Do not print to System.out!"/>
            <property name="severity" value="error"/>
            <property name="format" value="System\.(out|err)\."/>
            <property name="message" value="Do not print to System.out!"/>
            <property name="ignoreComments" value="true"/>
        </module>
        <module name="RegexpSinglelineJava">
            <metadata name="net.sf.eclipsecs.core.comment" value="Get logger by class"/>
            <property name="severity" value="error"/>
            <property name="format" value="getLogger\(.*.class\.getName\(\)\)"/>
            <property name="message" value="use getLogger(*.class) to get logger"/>
        </module>
    </module>
    <module name="FileLength">
        <property name="severity" value="ignore"/>
        <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
    </module>
    <module name="RegexpSingleline">
        <metadata name="net.sf.eclipsecs.core.comment" value="Do not print to System.out!"/>
        <property name="severity" value="error"/>
        <property name="format" value="^((?!\/\/).)*System\.(out|err)\."/>
        <property name="message" value="Do not print to System.out!"/>
        <property name="fileExtensions" value="jsp"/>
    </module>
    <module name="RegexpSingleline">
        <metadata name="net.sf.eclipsecs.core.comment" value="JUL usage is deprecated"/>
        <property name="severity" value="error"/>
        <property name="format" value="java\.util\.logging"/>
        <property name="message" value="JUL usage is deprecated"/>
        <property name="fileExtensions" value="jsp"/>
    </module>
    <module name="RegexpSingleline">
        <metadata name="net.sf.eclipsecs.core.comment" value="JUL usage is deprecated"/>
        <property name="severity" value="error"/>
        <property name="format" value="java\.util\.logging"/>
        <property name="message" value="JUL usage is deprecated"/>
        <property name="fileExtensions" value="java"/>
    </module>
    <module name="RegexpMultiline">
        <metadata name="net.sf.eclipsecs.core.comment" value="String concatenation in logger message"/>
        <property name="severity" value="error"/>
        <property name="format" value="^.*\.(debug|error|info|trace|warn)\(.*&quot;\s*\+\s*[\w\&quot;]*"/>
        <property name="message" value="Do not use string concatenation in logger message "/>
        <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
    </module>
    <module name="RegexpSingleline">
        <metadata name="net.sf.eclipsecs.core.comment" value="EL 'empty' operator use with scope ref only"/>
        <property name="severity" value="error"/>
        <property name="format" value="^.*\$\{(.*\s|\s{0,})empty\s+[^\.\[\W]+[^\.\[\w]"/>
        <property name="message" value="EL: Specify exactly scope of variable when you use one with 'empty' operator"/>
        <property name="fileExtensions" value="jsp, tag"/>
    </module>
    <module name="RegexpSingleline">
        <metadata name="net.sf.eclipsecs.core.comment" value="printStacktrace() is deprecated"/>
        <property name="severity" value="error"/>
        <property name="format" value="\.printStackTrace\(\s*\)"/>
        <property name="message" value="printStacktrace() is deprecated "/>
    </module>

</module>
